{{- /* Width-constrained photo from a page-bundle resource. See thumb.html on
       why the original's .RelPermalink is only read in the passthrough case. */ -}}
{{- $r := .res -}}
{{- $w := .width | default 1400 -}}
{{- $sub := "" -}}
{{- if eq $r.ResourceType "image" -}}{{- $sub = $r.MediaType.SubType -}}{{- end -}}
{{- $url := "" -}}
{{- if and (eq $r.ResourceType "image") (ne $sub "svg") (ne $sub "gif") -}}
  {{- $target := cond (gt $r.Width $w) $w $r.Width -}}
  {{- $url = ($r.Resize (printf "%dx webp q82" $target)).RelPermalink -}}
{{- else -}}
  {{- $url = $r.RelPermalink -}}
{{- end -}}
{{- return $url -}}
