<!DOCTYPE html>
<html lang="{% block html_lang %}en{% endblock html_lang %}">
<head>
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
    {% include "partials/head.html" %}
</head>
<body class="bg-paper text-ink font-serif">
    {% include "partials/nav.html" %}

    <main class="min-h-screen">
        {% block content %}{% endblock content %}
    </main>

    {% include "partials/footer.html" %}
</body>
</html>
